h1{
	color:green;
}

h2{
	color:red;
}

body{
	background-color: #f4f4f4;
}

ul {
	list-style-type: square;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}